
body {
    background-color: #f4f4f4;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    /*same as above*/
    font: normal 20px Arial, Helvetica, sans-seriff;
    line-height: 1.6em;
    margin: 10px;
}

body h1
{
    text-align:left;
}

.categories {
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
    list-style:square;
}

